body{
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head{
    width: 100%;
    height: 800px;
    background: url("https://images.wallpaperscraft.ru/image/single/siluet_noch_zvezdnoe_nebo_151193_1920x1080.jpg");
    transition: all 0.8s ease-in-out;
    -webkit-box-shadow:0px 0px 101px 26px rgba(100,0,240,0.75);
-moz-box-shadow: 0px 0px 101px 26px rgba(100,0,240,0.75);
box-shadow: 0px 0px 101px 26px rgba(100,0,240,0.75);
}
.wrap ul{
    margin: 0;
    justify-content: center;
    width: 100%;
    display: flex;
}
.wrap li{
    font-size: 40px;
 list-style-type: none;
    margin-right: 80px;
    margin-top: 240px;
}
.wrap a{
   color: black;
    text-decoration: none;
    transition: all 0.7s ease-in-out;
}
.wrap a:hover{
    color: aqua;
    transform: scale(0.9);
}